<?php

use PhpCsFixer\{Config, Finder};

$cacheDir = __DIR__ . '/var/cache';
$rules = [
    '@PSR2' => true,
    '@Symfony' => true,
    '@Symfony:risky' => true,
    '@PHP70Migration' => true,
    '@PHP70Migration:risky' => true,
    '@PHP71Migration' => true,
    '@PHP71Migration:risky' => true,
    '@PHPUnit60Migration:risky' => true,
    'single_import_per_statement' => false,
];

if (!is_dir($cacheDir)) {
    mkdir($cacheDir, 0770, true);
}

return Config::create()
    ->setUsingCache(true)
    ->setCacheFile($cacheDir . '/php_cs.cache')
    ->setRules($rules)
    ->setRiskyAllowed(true)
    ->setFinder(Finder::create()->in(__DIR__))
;
