<?php

use Sami\Sami;
use Sami\RemoteRepository\GitHubRemoteRepository;
use Sami\Version\GitVersionCollection;
use Symfony\Component\Finder\Finder;

$iterator = Finder::create()
    ->files()
    ->name('*.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true)
    ->exclude('vendor')
    ->in(__DIR__.'/src')
;

return new Sami($iterator, [
    'title' => 'Message driven PHP - API',
    'build_dir' => __DIR__.'/var/docs/build-api',
    'cache_dir' => __DIR__.'/var/cache/api',
    'remote_repository' => new GitHubRemoteRepository('msgphp/msgphp', __DIR__),
    'default_opened_level' => 1,
]);
