includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests/sa/fixtures
    tmpDir: var/phpstan

    ignoreErrors:
        # phpstan
        - '#Cannot call method getName\(\) on ReflectionClass\|null\.#'
        # https://github.com/phpstan/phpstan-phpunit/issues/43
        -
            message: '''
            #Call to static method PHPUnit\\Framework\\Assert::assertSame\(\) with array\(1, '2'\) and array\(1\) will always evaluate to false\.#
            '''
            path: src/Domain/Tests/GenericDomainCollectionTest.php
        # https://github.com/phpstan/phpstan-phpunit/issues/31
        -
            message: '#Parameter \#1 \$encoder of class MsgPhp\\User\\Infrastructure\\Security\\PasswordHashing constructor expects Symfony\\Component\\Security\\Core\\Encoder\\PasswordEncoderInterface, PHPUnit\\Framework\\MockObject\\MockObject given\.#'
            path: src/User/Tests/Infrastructure/Security/PasswordHashingTest.php

        # deprecated
        -
            message: '#Call to deprecated method getRoles\(\) of class Symfony\\Component\\Security\\Core\\Authentication\\Token\\TokenInterface\.#'
            path: src/User/Infrastructure/Security/DataCollector.php

        # msgphp
        - '#Method MsgPhp\\.+\\Infrastructure\\Doctrine\\Repository\\.+Repository::find.*\(\) should return MsgPhp\\.+\\.+ but returns object\.#'
        - '#Return type \(MsgPhp\\Domain\\Infrastructure\\Config\\ClassMappingNode\) of method MsgPhp\\Domain\\Infrastructure\\Config\\ClassMappingNodeDefinition::instantiateNode\(\) should be compatible with return type \(Symfony\\Component\\Config\\Definition\\VariableNode\) of method Symfony\\Component\\Config\\Definition\\Builder\\VariableNodeDefinition::instantiateNode\(\)#'
        - '#Cannot call method classMappingNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
        - '#Method MsgPhp\\Domain\\Infrastructure\\Elasticsearch\\ProjectionTypeRegistry::all\(\) should return array<string> but returns array<int\|string>.#'
        - '#Property MsgPhp\\Domain\\Infrastructure\\Elasticsearch\\ProjectionTypeRegistry::\$types \(array<string>\|null\) does not accept array<int, int\|string>.#'

        # msgphp tests
        - '#Class MsgPhp\\Domain\\Tests\\Factory\\TestUnknownObject not found\.#'
        - '#Constructor of class MsgPhp\\Domain\\Tests\\Factory\\TestKnownObject has an unused parameter \$arg\.#'
        - '#Parameter \$arg of method MsgPhp\\Domain\\Tests\\Factory\\TestKnownObject::__construct\(\) has invalid typehint type MsgPhp\\Domain\\Tests\\Factory\\TestUnknownObject\.#'
        - '#Class MsgPhp\\Domain\\Tests\\Factory\\TestClassWrongCase referenced with incorrect case: MsgPhp\\Domain\\Tests\\Factory\\testclasswrongcase\.#'
        - '#Static property MsgPhp\\.+\\Tests\\.+Test::\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept null\.#'
        - '#Static property MsgPhp\\.+\\Tests\\.+Test::\$bus \(Symfony\\Component\\Messenger\\MessageBusInterface\) does not accept null\.#'
        -
            message: '#Call to an undefined method object::.+\(\)\.#'
            path: *src/*/Tests/Model/*Test.php
        -
            message: '#Call to an undefined method object::dispatch\(\)\.#'
            path: src/Domain/Tests/Message/MessageDispatchingTraitTest.php
        -
            message: '#Constructor of class MsgPhp\\Domain\\Tests\\Factory\\TestClass has an unused parameter \$\w+\.#'
            path: src/Domain/Tests/Factory/ClassMethodResolverTest.php

    excludes_analyse:
        - */src/*/vendor/*
        - src/UserBundle/Resources/skeleton
        - src/UserBundle/Maker/UserMaker.php

services:
	-
		class: MsgPhp\SA\PHPStan\DomainObjectFactoryTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
