.md-nav__link[data-md-state="blur"]:before {content: "✔"; }
.md-nav__link.md-nav__link--active:before { content: "⤷"; }

.md-typeset h3 > code:first-child:before { content: "▍"; }
.md-typeset h3 > code { font-weight: bold; }
.md-typeset p code { color: #e83e8c; }
